<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @store.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Site:</strong>
  <%= @store.site %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @store.tipo %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @store.customer %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
